.notes-container {
  grid-area: main;
}

.notes-list-container {
  max-width: 80rem;
  margin: auto;
}

.note {
  min-height: 10rem;
  height: fit-content;
  max-width: 25rem;
  margin: 2.5rem;
}

.note-overlay {
  width: 22rem;
  top: 6rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.note:hover .note-overlay {
  opacity: 1;
}

.note-overlay button {
  color: var(--primary-color);
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 0.8rem;
  transition: all 0.1s;
}

.note-overlay button span {
  font-size: 1.5rem;
}

.note-overlay button:hover {
  border-radius: 50%;
  background-color: var(--background-hover-color);
}
